* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

.home,
.about,
.projects,
.contact,
.blog {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about {
  background-image: url('C:\Users\lei31\melanie-lei-web\public\images\rosegarden.png');
}

.projects {
  background-image: url('C:\Users\lei31\melanie-lei-web\public\images\wreckbeach.png');
}

.contact {
  background-image: url('C:\Users\lei31\melanie-lei-web\public\images\firepits.png');
}

.blog {
  background-image: url('C:\Users\lei31\melanie-lei-web\public\images\beachstairs.png');
}

.page-title {
  color: #fff;
  font-size: 100px;
  text-shadow: 2px 2px black;
}

.page-description {
  align-items: center;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px black;
}